.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .search {
    input {
      padding: 10px;
      border: 2px solid #fff;
      border-radius: 10px;
      margin-left: 20px;
      width: 200px;
    }
  }

  .links {
    list-style: none; /* Remove default list styles */
    display: flex;

    li {
      margin-left: 20px;
      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .dropdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;

        li {
          margin: 5px 0;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }
}
